<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        .button {
            width: 175px;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new_user}" th:object="${userForm}">
    <div>
        <label for="name">Имя:</label>
    </div>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <div>
        <label for="last_name">Фамилия:</label>
    </div>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>
    <br/>
    <div>
        <label for="email">E-mail:</label>
    </div>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <div>
        <label for="username">Логин:</label>
    </div>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <div>
        <label for="password">Пароль:</label>
    </div>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <div>
        <label for="roles">Права:</label>
    </div>
    <th:block th:each="role: ${roles}">
        <input type="checkbox" th:field="*{roles}"
                   th:text="${role.getRole().substring(5)}" th:value="${role.getId()}" id="roles"/>
        <p></p>
    </th:block>
    <input class="button" type="submit" value="Создать"/>
    <br/>
    <br/>
    <input class="button" type="button" onclick="history.back()" value="Назад"/>
</form>
<br/>
<form action="#" th:action="@{/logout}" method="get">
    <input class="button" type="submit" value="Выход"/>
</form>
</body>
</html>